/* INDEX TEMPLATE */
.container.pusher {
  padding-top: 20px;
}

/* HOME TEMPLATE */
#main {
  background: linear-gradient(to bottom, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 100%), url(TPS-Logo-1.gif) center top no-repeat;
  background-size: contain;
  min-height: 100vh;
}

/* MENU TEMPLATE */
#search-clicked input {
  width: 65vw !important;
}

/* SEARCHRESULTS TEMPLATE */
a.result {
  font-size: 0.9em;
}

/* SONGINFO TEMPLATE */
audio {
  width: 100%;
}

#songinfo-modal {
  font-size: 0.9em;
}

/* ADMIN TEMPLATE */
.tab {
  background-color: rgba(0,0,0,0) !important;
}

#message-feed {
  max-height: 300px;
  overflow: scroll;
}

/* GENRES TEMPLATE */
#table-genres td {
  padding: 4px;
}

#table-genres div.button {
  /*color: red;*/
  padding: 5px;
}