<template name="admin">
  <div class="ui segment" id="main">
    <div>This is an admin page</div>
    <div class="ui top attached secondary pointing menu">
      <a class="active item" data-tab="first"><i class="comment icon"></i></a>
      <a class="item" data-tab="second"><i class="music icon"></i></a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
      <div class="ui form">
        <div class="field">
          <input type="text" placeholder="Send a message to the DJ!">
        </div>
      </div>
    </div>
  </div>
</template>