<template name="home">
  <div class="ui segment" id="main">
    <div class="ui top attached secondary pointing menu">
      <a class="active item" data-tab="first"><i class="comment icon"></i></a>
      <a class="item" data-tab="second"><i class="music icon"></i></a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
      <form class="ui form" id="form-message">
        <div class="field">
          <input type="text" name="message" placeholder="Send a message to the DJ!">
        </div>
        <div class="ui success message">
          <i class="close icon"></i>
          <div class="header">Success:</div>
          <p></p>
        </div>
        <div class="ui error message">
          <i class="close icon"></i>
          <div class="header">Error sending message:</div>
          <p></p>
        </div>
        <button type="submit" class="ui submit button">Submit</button>
      </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <h3>Request a genre from the DJ!</h3>
      {{> genreRequests}}
    </div>
  </div>
</template>