<template name="home">
  <div class="ui segment" id="main">
    <div class="ui top attached secondary pointing menu">
      <a class="active item" data-tab="first"><i class="comment icon"></i></a>
      <a class="item" data-tab="second"><i class="music icon"></i></a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
      <form class="ui form" id="form-message">
        <div class="field">
          <input type="text" name="message" placeholder="Send a message to the DJ!">
        </div>
        <div class="ui submit button">Submit</div>
      </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      Request a genre!
    </div>
    <header>
      <div>
        <h1>Todo List ({{incompleteCount}})</h1>
      </div>
      <label class="hide-completed">
        <input type="checkbox" checked="{{hideCompleted}}" />
        Hide Completed Tasks
      </label>
      {{#if currentUser}}
        <form class="new-task">
          <div class="ui input">
            <input type="text" name="text" placeholder="Type to add new tasks" />
          </div>
        </form>
      {{/if}}
    </header>
    <div class="ui divided list">
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </div>
  </div>
</template>