<template name="login">
  <div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Sign in or Sign up!</div>
    <div class="content">
      <form id="login-form" class="ui form" action="action">
        <div class="field">
          <label>Username</label>
          <input name="username" type="text" id="login-username" />
        </div>
        <div class="field">
          <label>Password</label>
          <input name="password" type="password" id="login-password" />
        </div>
        <!-- <div> -->
          <input type="submit" class="ui submit button ok" id="login-button" value="Sign in" />
        <!-- </div> -->
        <!-- <div class="ui submit button ok">Sign in</div> -->
        <!-- <div class="ui green ok basic inverted button">Ok</div> -->
      </form> 
    </div>

    <!-- <div class="actions"> -->
      <!-- <div class="ui button">Cancel</div> -->
      <!-- <div class="ui button">OK</div> -->
    <!-- </div> -->
  </div>
</template>