<template name="login">
  <div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Sign in or Sign up!</div>
    <div class="content">
      <form id="login-form" class="ui form" action="action">
        <div class="ui error message"></div>
        <div class="field">
          <label>Username</label>
          <input name="username" type="text" id="login-username" />
        </div>
        <div class="field">
          <label>Password</label>
          <input name="password" type="password" id="login-password" />
        </div>
        <!-- <input type="submit" class="ui submit button" id="login-button" value="Sign in" /> -->
        <!-- <div class="ui submit button">Sign in</div> -->
        <button type="submit" class="ui submit button" value="Submit">Submit</button>
      </form> 
    </div>
  </div>
</template>