<template name="menu">
  <div class="large ui fixed inverted main menu">
    <a class="item" id="menu">
      <i class="content icon"></i> Menu
    </a>

    <div class="right menu">
<!--       <div class="item">
        <div class="ui inverted left icon input">
          <input type="text" class="form-control typeahead" autocomplete="off" spellcheck="off" data-source="songs" placeholder="Sing a song!" >
          <i class="search icon"></i>
        </div>
      </div> -->

      <!-- <div class="ui search dropdown">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Sing a song!">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div> -->
    </div>
  </div>
  
</template>
