<template name="signin">
  <div class="ui small modal" id="signin-modal">
    <i class="close icon"></i>
    <div class="header">Sign in or Sign up!</div>
    <div class="content">
      <form id="signin-form" class="ui form" action="action">
        <div class="ui error message"></div>
        <div class="field">
          <label>Username</label>
          <input name="username" type="text" id="signin-username" />
        </div>
        <div class="field">
          <label>Password</label>
          <input name="password" type="password" id="signin-password" />
        </div>
        <div class="ui buttons">
          <button type="submit" class="ui submit button" value="Sign in">Sign in</button>
          <div class="or"></div>
          <div class="ui positive button" id="signup-button">Create an account</div>
        </div>
      </form> 
    </div>
  </div>
</template>
