<template name="task">
  <div class="{{#if checked}}checked{{/if}} item">
    <div class="ui checkbox">
      <input type="checkbox" checked="{{checked}}" class="toggle-checked" id="taskCheckBox{{_id}}" />
      <label for="taskCheckBox{{_id}}">
        <div class="header">{{username}}</div> 
        <div class="description">{{text}}</div>
      </label>
    </div>
    <div class="delete right floated ui compact icon button"><i class="remove icon"></i></div>
    {{#if isOwner}}
      <button class="right floated toggle-private mini ui button">
        {{#if private}}
          Private
        {{else}}
          Public
        {{/if}}
      </button>
    {{/if}}
  </div>
</template>